@import '../node_modules/bootstrap/scss/bootstrap';

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px;
}

* {
  // outline: 1px solid red;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.box {
  padding: 20px;
}

.squares {
  padding: 0;
  margin: 0;
}

.square {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 30px;
  cursor: pointer;
}

.square:hover {
  background-color: lavender;
}

.square[data-number='-1'] {
  background-color: red;
}
.square[data-number='0'] {
  background-color: white;
}
.square[data-number='1'] {
  background-color: yellow;
}
.square[data-number='2'] {
  background-color: green;
}

.opacity-0 {
  opacity: 0 !important;
}
.opacity-1 {
  opacity: 0.2 !important;
}
.opacity-2 {
  opacity: 0.4 !important;
}
.opacity-3 {
  opacity: 0.6 !important;
}
.opacity-4 {
  opacity: 0.8 !important;
}
.opacity-5 {
  opacity: 1 !important;
}

.opacity-0h5 {
  opacity: 0 !important;
  transition: opacity 0.25s ease-in-out !important;
  -moz-transition: opacity 0.25s ease-in-out !important;
  -webkit-transition: opacity 0.25s ease-in-out !important;
}
.opacity-0h5:hover {
  opacity: 1 !important;
}

.cursor-default {
  cursor: default;
}
