@import '../node_modules/bootstrap/scss/bootstrap';

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
}
* {
  outline: 1px solid red;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

$width: 40px;

.box {
  padding: 20px;
}

.squares {
  padding: 0;
  margin: 0;
  // border: 1px solid blue;
}

.square {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 30px;
  // border: 1px solid blue;
  cursor: pointer;
}

.square:hover {
  background-color: lavender;
}

.square[data-number='-1'] {
  background-color: red;
}
.square[data-number='0'] {
  background-color: white;
}
.square[data-number='1'] {
  background-color: yellow;
}
.square[data-number='2'] {
  background-color: green;
}
