include head.pug

body
  body(class="body vh-100 d-flex")
    div(class="container align-self-center")
      div(class="row")
        div(class="col-10 col-sm-8 col-md-6 col-lg-5 col-xl-4 p-5 mx-auto card border-danger")
          div(class="mb-5") #{message}
          form(action="" + backRoute class="mx-auto")
            button(type="submit" class="btn btn-primary rounded-pill text-break d-block mx-auto") Try again