<tr>
  <th class="p-1 text-center text-primary font-weight-bold" scope="row">{{position}}</th>
  <td class="p-1 text-center text-primary font-weight-bold text-break">{{name}}</td>
  <td class="p-1 text-center text-primary font-weight-bold">{{score}}</td>
</tr>